<div>
    <ul style="display: inline">
        <li>
            <h3><a href="{% url 'blog:home' %}">خانه</a></h3>
        </li>
        {% for cat in category %}
            {% if cat.parent == None %}
                <li style="display: inline">
                    <a href="{% url 'blog:category' cat.slug %}">{{ cat.title }}</a>
                    {% if cat.children.active %}
                        {% include 'partials/category_loop.html' %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    <hr>
    </ul>
</div>